html{
  background-color: #CCC;
}
body {
   padding: 20px;
   background-color: #FFF;
   width: 710px;
   min-height: 800px;
   font-size: 12px;
   font-family: Helvetica, Arial, sans-serif;
   margin: auto;
}
td, th{
   width: 1em;
   border: 1px solid darkgray;
   text-align: center;
}
section {
   float: left;
   display: block;
   padding-right:1em;
}
section#grafo {
   width: 100%;
   float: none;
   clear: both;
}
#grafo canvas {
}
footer {
	padding-top: 50px;
	clear: both;
	text-align: center;
}

